{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}



<h1>{{kayttaja.nimi}}</h1>

<p>
    <a href="{{base_path}}/kayttajalistaus/{{kayttaja.id}}/edit" class="btn btn-default">Muokkaa</a>
    <a href="{{base_path}}/kayttajalistaus" class="btn btn-default">Palaa käyttäjälistaan</a>
</p>


<ul>

    <li><strong>ID: </strong> {{kayttaja.id}}</li>
    <li><strong>Käyttäjätunnus: </strong> {{kayttaja.ktunnus}}</li>
    <li><strong>Sähköposti: </strong> {{kayttaja.sposti}}</li>
    <li>
        {% if kayttaja.yllapitaja %} 
        <label class="label label-default">Ylläpitäjä </label>
        {% else %} 
        <label class="label label-default">Peruskäyttäjä </label>
        {% endif %}
    </li>
    <li><strong>Viestejä: </strong> {{kayttaja.viesteja}}</li>
    <li><strong>Ryhmät: </strong> {% for ryhma in ryhmat %}

        {{ryhma}}  

        {% endfor %}</li>

</ul>

<p> {{kayttaja.kuvaus}} </p>






{% endblock %}