{% extends "base.html" %}
{% block content %}

{% import "macros/messages.html" as messages %}

<!--{{messages.show_errors()}}-->

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}



<h1>Rerkisteröidy foorumille</h1>


<form method="post" action="{{base_path}}/kayttaja">

    <div class="form-group">
        <label>Nimi *</label>
        <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
        <label>Käyttäjätunnus *</label>
        <input type="text" name="ktunnus" class="form-control">
    </div>

    <div class="form-group">
        <label>Sähköposti *</label>
        <input type="text" name="sposti" class="form-control">
    </div>

    <div class="form-group">
        <label>Salasana *</label>
        <input type="password" name="salasana" class="form-control">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name="kuvaus" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Ryhmiin liittyminen (valitse useampi ctrl (tai cmd) pohjassa): </label>
        <select class="form-control" name="ryhmat[]" multiple="">
            {% for ryhma in ryhmat %}
            <option value="{{ryhma.id}}">{{ryhma.nimi}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="checkbox">
        <label>
            <input name="yllapitaja" value="true" type="checkbox"> Ylläpitäjä
        </label>
    </div>

    <br>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

</form>

{% endblock %}