{% extends "base.html" %}
{% block content %}
<h1>Listaus aiheista</h1>

<p>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/foorumi" class="btn btn-primary">Palaa etusivulle</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Aihe</th>
            <th>Luoja</th>
            <th>Lisäyspäivä</th>
            <th>Viestejä</th>
        </tr>
    </thead>

    <tbody>

        {% for aihe in aiheet %}
        
        
        <tr>
            <td><a href="#">{{aihe.nimi}}</td>
            <td><a href="#">{{aihe.luoja_id}}</td>
            <td>{{aihe.luontiaika}}</td>
            <td>TBA</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}