{% extends "base.html" %}
{% block content %}



{% if message %}

<div class="alert alert-danger">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>

{% endif %}




<h1>Luo uusi aihe</h1>


<form method="post" action="{{base_path}}/aihe">

    <div class="form-group">
        <label>Nimi *</label>
        <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

</form>

{% endblock %}