{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    <ul>
        <li>{{error}}</li>
    </ul>
</div>
{% endif %}


<form method="post" action="{{base_path}}/keskustelu/haku">
    <strong> Etsi keskusteluja: </strong> &nbsp
    <input type="text" placeholder='Kirjoittajan perusteella' name="search_ktunnus"> &nbsp
    <strong> TAI </strong> &nbsp
    <input type="text" placeholder='Aiheen perusteella' name="search_aihe"> &nbsp

    <button type="submit" class="btn btn-primary">Etsi</button>


</form>

<h1>Keskustelufoorumi</h1> 

<p>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/keskustelulistaus/uusi"                                             
       class="btn btn-default">Uusi keskustelu</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/keskustelulistaus"                           
       class="btn btn-default">Keskustelut</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/aihelistaus"                                  
       class="btn btn-default">Aiheet</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/ryhmalistaus"                                  
       class="btn btn-default">Ryhmät</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/kayttajalistaus"                                  
       class="btn btn-default">Käyttäjät</a>
    <!--    <a href="http://joohelle.users.cs.helsinki.fi/helle/yetusivu""                                             
           class="btn btn-default">Ylläpitäjän työkalut</a>-->
</p>

<br>


<h3>Viimeisimmät vastineet</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Aika</th>
            <th>Kirjoittaja</th>
            <th>Keskustelu</th>      
        </tr>
    </thead>

    {% for vastine in vastineet %}
    <tbody>
        <tr>
            <td width="20%"> {{vastine.aika}}</td>
            <td width="30%"> <a href="{{base_path}}/kayttajalistaus/{{vastine.kirjoittaja_id}}">{{vastine.kirjoittaja_ktunnus}}</a></td>
            <td width="40%"> <a href="{{base_path}}/keskustelulistaus/{{vastine.keskustelu_id}}">{{vastine.keskustelu_otsikko}}</a></td>

        </tr>
    </tbody>
    {% endfor %}
</table>

<br>

<h3>Uusimmat keskustelut</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Luontiaika</th>
            <th>Otsikko</th>
            <th>Aloittaja</th>
            <th>Viestejä</th>      
        </tr>
    </thead>

    {% for keskustelu in keskustelut %}

    <tbody>
        <tr>
            <td width="20"> {{keskustelu.aika}} </td>
            <td width="30%"> <a href="{{base_path}}/keskustelulistaus/{{keskustelu.id}}">{{keskustelu.otsikko}}</a> </td>
            <td width="30%"> <a href="{{base_path}}/kayttajalistaus/{{keskustelu.luoja_id}}">{{keskustelu.luoja_ktunnus}}</a></td>
            <td width="30%"> {{keskustelu.viestienmaara}}</td>
        </tr>
    </tbody>

    {% endfor %}






    {% endblock %}