{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}


<h1>Keskustelufoorumi</h1> 

<p>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/keskustelulistaus/uusi"                                             
       class="btn btn-default">Uusi keskustelu</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/keskustelulistaus"                           
       class="btn btn-default">Keskustelut</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/aihelistaus"                                  
       class="btn btn-default">Aiheet</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/ryhmalistaus"                                  
       class="btn btn-default">Ryhmät</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/kayttajalistaus"                                  
       class="btn btn-default">Käyttäjät</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/yetusivu""                                             
       class="btn btn-default">Ylläpitäjän työkalut</a>
</p>


<h3>Etsi viestejä:</h3>

<form> 

    Kirjoittajan perusteella: <input type="text" name="hnimi" </input>
    Aiheen perusteella: <input type="text" name"haihe" </input>
    <!--    <br> <br>
        Aikaväliltä (YYYYMMDD – YYYYMMDD): <br> <input type="text"</input> <input type="text"</input>
        <br> <br>   -->

    <a href="http://joohelle.users.cs.helsinki.fi/helle/viestilistaus"   
       class="btn btn-primary">haku</a>
</form>
<br>



<h3>Viimeisimmät viestit</h3>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Aika</th>
            <th>Kirjoittaja</th>
            <th>Keskustelu</th>      
        </tr>
    </thead>

    {% for vastine in vastineet %}

    <tbody>
        <!-- Listataan viestit tähän, otsikko toimii linkkinä keskusteluun-->
        <tr>
            <td><a href="#">{{vastine.aika}}</a></td>
            <td><a href="#">{{vastine.kirjoittaja_ktunnus}}</a></td>
            <td><a href="#">{{vastine.keskustelu_otsikko}}</a></td>

        </tr>
    </tbody>

    {% endfor %}

</table>
{% endblock %}