{% extends "base.html" %}
{% block content %}

{% if options %}
<h1>
    <small>
        Keskustelut hakusanalla: 
    </small>
    "{{options.search_ktunnus}}{{options.search_aihe}}"
</h1>

{% else %}

<h1>Viimeisimmät keskustelut</h1>

{% endif %}



<br>

<p>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/keskustelulistaus/uusi" 
       class="btn btn-success">Aloita uusi keskustelu</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/foorumi" 
       class="btn btn-primary">Palaa etusivulle</a>
</p>



{% for keskustelu in keskustelut %}

<h3>    <a href="{{base_path}}/vastinelistaus/{{keskustelu.id}}">
        {{keskustelu.otsikko}}</a>  
    <small> Vastauksia: {{keskustelu.viestienmaara}} </small> 
    &nbsp 
    <small>Aloittaja: </small> 
    {{keskustelu.luoja_ktunnus}} <small>{{keskustelu.aika}}
        &nbsp  
        Aiheet: 
        {% for aihe in keskustelu.aiheet %}
        {{aihe}} &nbsp  
        {% endfor %}
    </small>
</h3>

<p>
    {{keskustelu.sisalto}}
</p>

{% endfor %}



{% endblock %}