{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}


{% if options %}
<h1>
    <small>
        Viimeisimmät keskustelut hakusanalla: 
    </small>
    "{{options.search_ktunnus}}{{options.search_aihe}}"
</h1>

{% else %}

<h1>Viimeisimmät keskustelut</h1>

{% endif %}



<br>

<p>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/keskustelulistaus/uusi" 
       class="btn btn-success">Aloita uusi keskustelu</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/foorumi" 
       class="btn btn-default">Palaa etusivulle</a>
</p>



{% for keskustelu in keskustelut %}

<h3>    <a href="{{base_path}}/keskustelulistaus/{{keskustelu.id}}">
        {{keskustelu.otsikko}}</a>  
    <small>  Vastauksia: <span class="badge"> {{keskustelu.viestienmaara}} </span></small> 
    &nbsp 
    <small>Aloittaja: </small> 
    <a href="{{base_path}}/kayttajalistaus/{{keskustelu.luoja_id}}">{{keskustelu.luoja_ktunnus}}</a> <small>
        &nbsp 
        <span class="badge"> {{keskustelu.aika}} </span>
        &nbsp  
        Aiheet: 
        {% for aihe in keskustelu.aiheet %}
        <span class="badge">{{aihe}}</span>  
        {% endfor %}
    </small>
</h3>

<p>
    {{keskustelu.sisalto}}
</p>

{% endfor %}



{% endblock %}