{% extends "base.html" %}
{% block content %}

<h1>Viimeisimmät keskustelut</h1>
<br>

<p>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/keskustelulistaus/uusi" 
       class="btn btn-success">Aloita uusi keskustelu</a>
    <a href="http://joohelle.users.cs.helsinki.fi/helle/foorumi" 
       class="btn btn-primary">Palaa etusivulle</a>
</p>

<!--<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Aloittaja</th>
            <th>Luontiaika</th>
            <th>Viestejä</th>

    </thead>


    <tbody>
        {% for keskustelu in keskustelut %}

        <tr>
            <td><a href="#">{{keskustelu.otsikko}}</td>
            <td><a href="#">{{keskustelu.kirjoittaja_id}}</td>
            <td>{{keskustelu.aika}}</td>
            <th>TBA</th>

        </tr>
        <tr> <td>{{keskustelu.sisalto}}</td>
        </tr>


        {% endfor %}

    </tbody>
</table>-->


{% for keskustelu in keskustelut %}

<h3><a href="{{base_path}}/vastinelistaus/{{keskustelu.id}}">{{keskustelu.otsikko}}</a>  <small>Käyttäjältä: </small> 
    {{keskustelu.luoja_ktunnus}} <small>Kello: {{keskustelu.aika}}  Viestejä: TBA</small></h3>

<p>
    {{keskustelu.sisalto}}
</p>
    
{% endfor %}



{% endblock %}