{% extends "base.html" %}
{% block content %}



  <h1>Maija Mantsalainen</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  
  
  <ul>
    <li><strong>Käyttäjätunnus: </strong> Maijam</li>
    <li><strong>Sähköposti: </strong> maija.mantsalainen@helsinki.fi</li>
    <li><strong>Ylläpitäjä: </strong> <label class="label label-danger">kesken</label></li>
  </ul>
  <!-- Kuvaus tulee tähän -->

{% endblock %}